@import '../vendor/normalize';

@mixin gt-reset() {

  // normalize.css
  @include gt-normalize();

  // box-sizing
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  // viewport
  @viewport {
     width: device-width;
     zoom: 1;
  }


}
